[user]
	name = Dave Menninger
[core]
	editor = vim
	trustctime = false
	filemode = false
	excludesfile = ~/.gitignore_global
[color]
	diff = auto
	ui = true
[merge]
	tool = vimdiff
[credential]
	helper = cache
[alias]
	ec = config --global -e
	st = status
	hist = log --pretty=format:'%Cred%h%Creset %C(bold blue)%ad%Creset | %s%C(yellow)%d%Creset %Cgreen[%an]%Creset' --graph --date=short
	last = log -1 --stat
	cp = cherry-pick
	co = checkout
	cl = clone
	ci = commit
	br = branch
	unstage = reset HEAD --
	dc = diff --cached
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %Cblue<%an>%Creset' --abbrev-commit --date=relative --all
	todo = !ag TODO
[include]
	path = ~/.gitconfig_local
[push]
	default = matching
[mergetool]
	keeptemporaries = false
	keepbackups = false
	prompt = false
	trustexitcode = false
[include]
	path = ~/.gitconfiglocal
