[user]
	name = Dave Menninger
[github]
	user = davemenninger
[core]
	editor = nvim
	trustctime = false
	filemode = false
	excludesfile = ~/.gitignore
	attributesfile = ~/.gitattributes
[color]
	diff = auto
	ui = true
[merge]
	tool = vimdiff
[credential]
	helper = cache
[alias]
	br = branch
	bv = branch -v
	ci = commit
	cl = clone
	co = checkout
	cp = cherry-pick
	dc = diff --cached
	ec = config --global -e
	ed = !nvim `git diff --name-only`
	hist = log --pretty=format:'%Cred%h%Creset %C(bold blue)%ad%Creset | %s%C(yellow)%d%Creset %Cgreen[%an]%Creset' --graph --date=short
	last = log -1 --stat
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %Cblue<%an>%Creset' --abbrev-commit --date=relative --all
	push-branch = push -u origin HEAD
	rv = remote -v
	st = status
	todo = !rg TODO
	todo2 = !git grep TODO
	unstage = reset HEAD --
	churn = !git log --format=format: --name-only --since=12.month  | egrep -v '^$' | sort | uniq -c | sort -r | head -50
	# from trevor bramble https://twitter.com/TrevorBramble/status/774292970681937920
	alias = !git config -l | grep ^alias | cut -c 7- | sort
	wip = for-each-ref --sort='authordate:iso8601' --format=' %(color:green)%(authordate:relative)%09%(color:white)%(refname:short)' refs/heads
[push]
	default = matching
[mergetool]
	keeptemporaries = false
	keepbackups = false
	prompt = false
	trustexitcode = false
[include]
	path = ~/.gitconfiglocal
[init]
	defaultBranch = main
	templatedir = ~/.git_template
