[user]
	name = Dave Menninger
	email = dave.menninger@gmail.com
[core]
	editor = vim
[color]
	diff = auto
	ui = true
[merge]
	tool = vimdiff
[credential]
	helper = cache
[alias]
	ec = config --global -e
	st = status
	hist = log --pretty=format:'%Cred%h%Creset %C(bold blue)%ad%Creset | %s%C(yellow)%d%Creset %Cgreen[%an]%Creset' --graph --date=short
[include]
	path = ~/.gitconfig_local
